<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WHA-Referrals</display-name>
  <welcome-file-list>
    <welcome-file>/pages/login.jsp</welcome-file>
    <welcome-file>/pages/login</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/pages/login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/pages/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>500error</servlet-name>
    <jsp-file>/pages/500error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>500error</servlet-name>
    <url-pattern>/pages/500error</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_list</servlet-name>
    <jsp-file>/pages/manage_list.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_list</servlet-name>
    <url-pattern>/pages/manage_list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>manage_locations</servlet-name>
    <jsp-file>/pages/manage_locations.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>manage_locations</servlet-name>
    <url-pattern>/pages/manage_locations</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>referrals</servlet-name>
    <jsp-file>/pages/referrals.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>referrals</servlet-name>
    <url-pattern>/pages/referrals</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>dashboard</servlet-name>
    <jsp-file>/pages/dashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dashboard</servlet-name>
    <url-pattern>/pages/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>users</servlet-name>
    <jsp-file>/pages/users.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>users</servlet-name>
    <url-pattern>/pages/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>org.wha.referrals.db.mysql.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>org.wha.referrals.security.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLogout</servlet-name>
    <servlet-class>org.wha.referrals.security.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLogout</servlet-name>
    <url-pattern>/doLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doSetup</servlet-name>
    <servlet-class>org.wha.referrals.db.mysql.SetUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doSetup</servlet-name>
    <url-pattern>/doSetup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddListDef</servlet-name>
    <servlet-class>org.wha.referrals.db.mysql.AddListDef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddListDef</servlet-name>
    <url-pattern>/AddListDef</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateListDef</servlet-name>
    <servlet-class>org.wha.referrals.db.mysql.UpdateListDef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateListDef</servlet-name>
    <url-pattern>/UpdateListDef</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateLocationDef</servlet-name>
    <servlet-class>org.wha.referrals.db.mysql.UpdateLocationDef</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLocationDef</servlet-name>
    <url-pattern>/UpdateLocationDef</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateReferral</servlet-name>
    <servlet-class>org.wha.referrals.db.mysql.CreateReferral</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReferral</servlet-name>
    <url-pattern>/CreateReferral</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateField</servlet-name>
    <servlet-class>org.wha.referrals.db.mysql.UpdateField</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateField</servlet-name>
    <url-pattern>/UpdateField</url-pattern>
  </servlet-mapping>
</web-app>